<div class="container">
  <p>おすすめの本を共有しよう</p>
  <h1>おすすめ本レビュー</h1>
  <div class="card mb-3 border-secondary" style="max-width: 540px;">
    <div class="row no-gutters">
      <%= render @reviews %>
    </div>
  </div>
</div>