@import "bootstrap";
/*
*= require rails_bootstrap_forms
 */

.container {
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* pages/index */
#signage .has_icon {
  margin: 30px;
  padding: 15px;
  vertical-align: middle;
  color: #fff;
  font-size: 142.86%;
  line-height: 1.2;
  background-color: #BDBEC2;
}

ul {
  list-style: none;
}

.list_basic .body li {
  width: 70%;
  border-bottom: 3px solid #d7d7dd;
  margin-top: 20px;
  padding: 10px 20px;
  overflow: hidden;
}

.section_list .book {
  border: 1px solid #c7c7cc;
}

.a_rv a {
  color: #000;
}

.bottom {
  a {
    color: #000;
    text-decoration: underline;
  }
}

.list_basic .body li .book {
  float: left;
  border-bottom: 1px solid #c7c7cc;
}

.list_basic .body li .txt {
  width: px;
  margin-left: 130px;
  margin-bottom: 80px;
}

#signage .title {
  display: block;
  font-size: 26px;
  width: 70%;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 55px;
  margin-inline-end: 0px;
  font-weight: bold;

}

.right {
  border-bottom: 1px solid #c7c7cc;
  width: 67%;
  padding-left: 60px;
  padding-bottom: 20px;
  margin-inline-start: 51px;
  .author{
    font-size: 18px;
  }
  .publish_at {
    font-size: 18px;
  }
}

.review {
  padding:10px 0 0 40px ;
  font-size: 20px;
}