@import "bootstrap";
/*
*= require rails_bootstrap_forms
 */

.container {
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}


.card-body {
  padding: 10px 0;
  border-top: 4px solid #777272;
}